body {
  background: #a1a1a2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4b4654, #a1a1a2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4b4654, #a1a1a2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
