{% extends "layout.html" %}
{% block body %}

<!-- ###FORMULARIO DE INGRESO DE DATOS### --> 
<form action="{{ url_for('agrega_pedido') }}" method="GET" class="row m-0 was-validated container px-3" validate>

        <div class="col-sm-4 position-relative">
            <label for="validationTooltip04" class="form-label"> </label>
            <div class="input-group has-validation">
                <span class="input-group-text" id="validationTooltipUsernamePrepend">PO2022:</span>
                <select class="form-select" name="po2022" id="validationTooltip04" required>
                  <option selected disabled value="">Seleccione...</option>
                  <option>CO2021</option>
                  <option>PO2022_OBS</option>
                  <option>PO2022_REIP</option>
                  <option>PO2022_REIP_Cliente</option>
                  <option>PO2022_RELH</option>
                </select>
            </div>
        </div>

        <div class="col-md-4 position-relative">
            <label for="validationTooltip04" class="form-label"> </label>
            <div class="input-group has-validation">
                <span class="input-group-text" id="validationTooltipUsernamePrepend">Region:</span>
                <select class="form-select" name="region" id="validationTooltip04" required>
                  <option selected disabled value="">Seleccione...</option>
                  <option>AMBA</option>
                  <option>MEDI</option>
                  <option>LITO</option>
                  <option>SUR</option>
                </select>
            </div>
        </div>

       <div class="col-md-4 position-relative">
            <label for="validationTooltip04" class="form-label"> </label>
            <div class="input-group has-validation">
                <span class="input-group-text" id="validationTooltipUsernamePrepend">Marca_A:</span>
                <select class="form-select" name="marcaa" id="validationTooltip04" required>
                <option selected disabled value="">Seleccione...</option>
                <option>Alcatel</option>
                <option>Ceragon</option>
                <option>Dragon Wave</option>
                <option>Ericsson</option>
                <option>Huawei</option>
                <option>Sagem</option>
                <option>Siae</option>
                </select>
            </div>
       </div>

        <div class="col-sm-4 position-relative">
            <label for="validationTooltip01" class="form-label"> </label>
            <div class="input-group has-validation">
                <span class="input-group-text" id="validationTooltipUsernamePrepend">Key:</span>
                <input type="text" class="form-control" name="key" id="validationTooltip02" required>
            </div>
        </div>

       <div class="col-md-4 position-relative">
            <label for="validationTooltip04" class="form-label"> </label>
            <div class="input-group has-validation">
                <span class="input-group-text" id="validationTooltipUsernamePrepend">Accion_Planif:</span>
                <select class="form-select" name="accionplanif" id="validationTooltip04" required>
                <option selected disabled value="">Seleccione...</option>
                <option>Alta</option>
                <option>Ampliacion</option>
                <option>Ampliacion_Placas</option>
                <option>Cambio IDU</option>
                <option>Reemplazo</option>
                <option>SinDatos</option>
                </select>
            </div>
       </div>

        <div class="col-md-4 position-relative">
            <label for="validationTooltip02" class="form-label"> </label>
            <div class="input-group has-validation">
                <span class="input-group-text" id="validationTooltipUsernamePrepend">Nodo_A:</span>
                <input type="text" class="form-control" name="nodoa" id="validationTooltip02" required>
            </div>
        </div>

        <div class="col-md-4 position-relative">
            <label for="validationTooltip02" class="form-label"> </label>
            <div class="input-group has-validation">
                <span class="input-group-text" id="validationTooltipUsernamePrepend">Nodo_B:</span>
                <input type="text" class="form-control" name="nodob" id="validationTooltip02" required>
            </div>
        </div>

        <div class="col-md-4 position-relative">
            <label for="validationTooltip02" class="form-label"> </label>
            <div class="input-group has-validation">
                <span class="input-group-text" id="validationTooltipUsernamePrepend">Nombre_A:</span>
                <input type="text" class="form-control" name="nombrea" id="validationTooltip02" required>
            </div>
        </div>

        <div class="col-md-4 position-relative">
            <label for="validationTooltip02" class="form-label"> </label>
            <div class="input-group has-validation">
                <span class="input-group-text" id="validationTooltipUsernamePrepend">Nombre_B:</span>
                <input type="text" class="form-control" name="nombreb" id="validationTooltip02" required>
            </div>
        </div>

  
      <div class="mb-3">
        <label for="validationTextarea" class="form-label"></label>
        <span class="input-group-text" id="validationTooltipUsernamePrepend">Observacion PO2022:</span>
        <textarea class="form-control is-invalid" id="validationTextarea" name="obspo2022" placeholder="Detalle de observacion (Requerido)" required></textarea>
      </div>

  <div class="col-12">
    <button class="btn btn-primary" type="submit">Guardar Registro</button>
  </div>
</form>

<!-- ###GRAFICA HIGHCHARTS### -->
  <body>     
    <div class="row md-6 container">
            <!--First chart-->
      <div class="col-md-6"> 
        <div id="container_pieChart" style="min-width: 400px; height: 300px; margin: 30 auto"></div>    
      </div>
                <!--Second chart-->
      <div class="col-md-6">
        <div id="container_barChart" style="min-width: 600px; height: 300px; margin: 30 auto"></div>         
      </div>
                <!--Third chart-->
      <div class="col-md-6">
      <div id="container_barChartxIntegrador" style="min-width: 1250px; height: 400px; margin: 30 auto"></div> 
      </div>
                <!--End of charts-->
    </div><!--for container div-->
  </body>

<div id="button-bar" class="col-md-4">
    <button id="small">Small</button>
    <button id="large">Large</button>
    <button id="auto">Auto</button>
    <div>
      <button id="refreshButton">Refrescar Grafico</button>
    </div>
  </div>

<!-- ###FIN GRAFICA HIGHCHARTS### --> 

<div>
 
</div>

<!-- ###TABLA LISTA DATOS### --> 
<div class="col-sm">
  <!-- ###EXPORTACION DE DATOS### --> 
  <form action="/download" method = "GET">
    <button id="exportar" type="submit">Exportar tabla de datos</button>
  </form>
  
  <table class="table table-dark table-striped table-hover table-bordered table-sm bg-white">
    <thead>
      <tr>
        <td>{{heads.1}}</td>
        <td>{{heads.2}}</td>
        <td>{{heads.3}}</td>
        <td>{{heads.5}}</td>
        <td>{{heads.7}}</td>
        <td>{{heads.8}}</td>
        <td>{{heads.12}}</td>
        <td>{{heads.13}}</td>
        <td>{{heads.15}}</td>
        <td>{{heads.16}}</td>
        <td>{{heads.18}}</td>
        <td>{{heads.19}}</td>
        <td>{{heads.22}}</td>
        <td>{{heads.28}}</td>
        <td>{{heads.30}}</td>
        <td>{{heads.31}}</td>
        <td>{{heads.32}}</td>
        <td>{{heads.33}}</td>
        <td>{{heads.34}}</td>
        <td>{{heads.35}}</td>
        <td>{{heads.36}}</td>
        <td>{{heads.37}}</td>
        <td>{{heads.38}}</td>
         <td>Operations</td>
      </tr>
    </thead>
    <tbody id="myTable">
      <dl>
        {% for dato in datos %}
          <tr>
            <td><dd>{{dato['ID']}}</dd></td>
            <td><dd>{{dato['Tipo RE']}}</dd></td>
            <td><dd>{{dato['Key']}}</dd></td>
            <td><dd>{{dato['PO2022']}}</dd></td>
            <td><dd>{{dato['Accion_Planif']}}</dd></td>
            <td><dd>{{dato['Config Obj Planif']}}</dd></td>
            <td><dd>{{dato['Region']}}</dd></td>
            <td><dd>{{dato['Provincia_A']}}</dd></td>
            <td><dd>{{dato['Nodo A']}}</dd></td>
            <td><dd>{{dato['Nodo B']}}</dd></td>
            <td><dd>{{dato['Marca_A']}}</dd></td>
            <td><dd>{{dato['Modelo_A']}}</dd></td>
            <td><dd>{{dato['Nombre_A']}}</dd></td>
            <td><dd>{{dato['Nombre_B']}}</dd></td>
            <td><dd>{{dato['Nuevo Key']}}</dd></td>
            <td><dd>{{dato['Tipo [ALTA/AMPL]']}}</dd></td>
            <td><dd>{{dato['Estado General']}}</dd></td>
            <td><dd>{{dato['Comentario']}}</dd></td>
            <td><dd>{{dato['Fecha programada']}}</dd></td>
            <td><dd>{{dato['MesProgramado (Calculada)']}}</dd></td>
            <td><dd>{{dato['Fecha liberación']}}</dd></td>
            <td><dd>{{dato['Mes liberado (Calculado)']}}</dd></td>
        <!--  <Form action="/update/{{dato['_id']}}" method = "post">
            <select class="form-select" name="estadopedido" id="validationTooltip04" required>
              <option selected disabled value="">Seleccione...</option>
              <option>Pendiente</option>
              <option>Entregado</option>
            </select>
            <input type="submit" value="Submit">
          </form>
        </td>         --> 
            <td><dd>{{dato['Integrador']}}</dd></td>
            <td>
              <Form action="/edit/{{dato['_id']}}" method="POST"> 
                <input type="submit" class="btn btn-sm btn-primary btn-success" value="Edit">
              </form>
              <!--<a href="/delete/{{dato}}" class="btn btn-sm btn-danger btn-delete">delete</a> -->
            </td>
          </tr>
        {% endfor %}
      </dl>
    </tbody>
  </table>
  <div>   
  </div>
</div>

{% endblock %}

